
header {
    width: 100%;
    padding:0;
    background-color:#9eecff;
    margin:0;
    transition:1s;
}

header h1 {
    font-size: 3em;
    margin:0.5em;
}

header .subtitle{
    color:white;
    float:right;
    display:block;
    margin-right:10%;
}

header img{
    height:8em;
    display:block;
}

@media only screen and (max-width: 500px) {
    header img{
        margin:auto;
    }
}

nav{
    margin: 0 0 2em;
    width:100%;
    background-color:#4e71c2;
    position: sticky;
    top:0px;
}

nav ul{
    margin:0 0.5em;
    list-style: none;
    overflow-y:hidden;
    overflow-x: visible;
    padding:0;
}
li.nav-item{
    height:inherit;
    font-size: 1.25em;
    display:inline;
    float:left;
}
li.nav-item.right{
    float:right;
}
a.nav-link{
    display:block;
    padding:8px;
    color:white;
    text-decoration: none;
    transition: all 250ms;
}

a.nav-link:hover{
    background-color:#00000022;
}

li.nav-item>form{
    margin:0;
    display: block;
}
li.nav-item>form>input{
    border:none;
    padding:0.4em;
    font-size:1em;
}

li.nav-item>form>button{
    border:none;
    margin-left: -2.5em;
    padding: 0.5em 0.75em;
    transition: 0.5s;
}
li.nav-item>form>button:hover{
    background: darkgray;
}