body{
    min-width: 1400px;
    min-height:850px;
    position:relative;
}

header{
    float:right;
    display:block;
    overflow:hidden;
    font-size: 1.5em;
    position: absolute;
    top:-32px;
    right:0;
    padding: 0 0 0.5em 1em;
    background-color:white;
}

header img{
    float:right;
    height:5em;
    width:auto;
}

section#queue{
    /*float:left;*/
    width:22%;
    height:90%;
    /*margin-top:3em;*/
    margin-left:3%;
    min-width: 255px;
    max-width: 400px;
    display:inline-block;
}

.scroller{
    height:78%;
    width:100%;
}
.scrollInfo.position{
    font-size:2em;
}
.scrollItem:hover{
    background-color: #cfcfcfff!important;
}
.scrollItem.current{
    position:sticky;
    background:#6bbad5ff !important;
    top:0;
}
.scrollItem.next{
    position:sticky;
    background:#9eecffff !important;
    top:41px;
}

.scrollItem.selected{
    background:#7d7d7d !important;
}

#queue #buttons{
    width:100%;
    text-align: center;
}

#queue button{
    width:100%;
    margin:4px 0;
}

#queue #buttons button{
    display:inline-block;
    width:45%;
    clear:both;
}

#container{
    width:100%;
    height:-webkit-fill-available;
    /*overflow-y: hidden;*/
    margin-top:2em;
}

section#appointments{
    float:right;
    margin-top:1em;
    margin-right:3%;
    height:90%;
    display:inline-block;
    width:57%;
}

.agenda{
    margin-top:2em;
    width: 25%;
    height:80%;
    float:left;
    overflow:visible;
}

.agenda h2{
    margin:0;
    margin-top:-1.1em;
    position:relative;
}

.agenda>.scroller{
    height:100%;
    width: 100%;
    margin:0;
}

.calendar{
    margin-top:2em;
    width:73%;
    height:35em;
    float:right;
    background-color:white;
    border:1px solid black;
}

.calendar table{
    border-collapse: collapse;
    user-select: none;
}
.calendar td{
    border:2px solid black;
    vertical-align: top;
    padding-top:0.4em;
    cursor: pointer;
}

.calendar h2{
    margin:0;
    margin-top:-1.1em;
}

.calendar .date{
    margin-top:5px;
    border-bottom:1px solid black;
    width:100%;
}

.calendar td:hover{
    background-color: #cfcfcfff;
}

.calendar .selected{
    background-color: #9eecffff;
}

#form{
	border:none;
	width:25em;
	height:32em;

}
